{% include 'part/hat/hat.twig' %}
{% include 'part/header/header.twig' %}

<div class="layout">
    <main>scscscsc
        <input type='checkbox' autocomplete='off'>
        <input type='checkbox' autocomplete='off' checked>
        <input type='checkbox' autocomplete='off' disabled>
        <input type='checkbox' autocomplete='off' checked disabled>
        <input type='radio' name='a' autocomplete='off'>
        <input type='radio' name='a' autocomplete='off' checked>
        <input type='radio' name='b' autocomplete='off' disabled>
        <input type='radio' name='b' autocomplete='off' checked disabled>

        <label>
            <input type='checkbox' autocomplete='off'>Хер
        </label>
    </main>
    <aside>
        aaaaAside
    </aside>
</div>


{% include 'part/footer/footer.twig' %}

{% include 'part/heel/heel.twig' %}