{% include 'part/hat/hat.twig' %}

<nav>
    Навбар1
</nav>

<a href="/page/test">Тест</a>

Мой проэктик по созданию идеального сайтика)


<footer>
    Футер
</footer>

{% include 'part/heel/heel.twig' %}