<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">

    {# CSP #}
    <meta http-equiv="Content-Security-Policy" content="default-src 'self'; script-src 'self' 'sha256-X+zrZv/IbzjZUnhsbWlsecLbwjndTpG0ZynXOif7V+k='">

    {# viewport #}
    <meta name="viewport" content="width=device-width,shrink-to-fit=no,viewport-fit=cover,initial-scale=1">
    <meta name="HandheldFriendly" content="true">
    <meta name="MobileOptimized" content="width">
    <meta name="mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-capable" content="yes">

    {# https://medium.com/swlh/are-you-using-svg-favicons-yet-a-guide-for-modern-browsers-836a6aace3df #}
    <link rel="icon" href="/src/ico/favicon.svg">
    <link rel="mask-icon" href="/src/ico/mask-icon.svg" color="#000000">
    <link rel="apple-touch-icon" href="/src/ico/apple-touch-icon.png">

    {# manifest#}
    <link rel="manifest" href="/webmanifest.json">

    {# source #}
    <link rel="stylesheet" href="src/scss/global.css">

    {# title #}
    <title>Хороший Сайтик</title>
</head>
<body>
<script>0</script>{# https://stackoverflow.com/questions/21147149/flash-of-unstyled-content-fouc-in-firefox-only-is-ff-slow-renderer #}