html {
	height: 100%;
}

body {
	font-family: Verdana, Helvetica Neue, Helvetica, Arial, sans-serif;
	font-size: var(--font-size);
	line-height: var(--line-height);
	height: 100%;
	margin: 0;
	padding: 0;
}

pre {
	font-family: Consolas, Monaco, Lucida Console, Liberation Mono, DejaVu Sans Mono, Bitstream Vera Sans Mono, Courier New, monospace;
	min-width: 0;
	overflow: auto;
	max-width: 100%;
}

a {
	text-decoration: none;
	color: var(--linkColor);

	.link-underline &:not(.button) {
		text-decoration: underline;
	}
}

p {
	margin-bottom: 1rem;
}

.layout {
	display: grid;
	max-width: 100%;
	min-height: 100%;

	@media screen and (min-width: 640px) {
		grid-template-columns: 1fr 1fr;
	}

}

.container {
	padding: 1rem;
	background: var(--background);
	color: var(--color);
	min-width: 0;
}

.muted {
	color: var(--colorMuted);
}
