{% extends '../../layout/main.twig' %}

{% block css %}
	<link href="/public/css/form.css" rel="stylesheet">
	<link href="/template/page/index/index.css" rel="stylesheet">
{% endblock %}

{% block body %}
	<table>
		<thead>
		<tr>
			<th>type</th>
			<th>disabled</th>
			<th>readonly</th>
		</tr>
		</thead>

	</table>

{# :indeterminate  #}
	<form>
		<fieldset>
			<legend>default</legend>
			<input type="checkbox">
			<input type="checkbox">
			<input type="checkbox" disabled>
			<input type="checkbox" disabled>
			<input type="checkbox" disabled checked>
			<input type="checkbox" disabled checked>
			<hr>
			<input type="radio" name="radio">
			<input type="radio" name="radio">
			<input type="radio" name="radio" disabled>
			<input type="radio" name="radio" disabled>
			<input type="radio" name="radio" disabled checked>
			<input type="radio" name="radio" disabled checked>
			<hr>
			<input type="text" placeholder="normal">
			<input type="text" disabled placeholder="disabled">
			<input type="text" readonly placeholder="readonly">
			<input type="text" value="normal">
			<input type="text" disabled value="disabled">
			<input type="text" readonly value="readonly">
			<hr>
			<input type="password" placeholder="normal">
			<input type="password" disabled placeholder="disabled">
			<input type="password" readonly placeholder="readonly">
			<hr>
			<label for="datalist-input">datalist</label>
			<input type="text" id="datalist-input" list="datalist" placeholder="normal">
			<datalist id="datalist">
				{% for i in 1 .. 100 %}
					<option>Test - {{ i }}</option>
				{% endfor %}
			</datalist>
			<input type="text" list="datalist" disabled placeholder="disabled">
			<input type="text" list="datalist" readonly placeholder="readonly">
			<input type="text" list="datalist" placeholder="normal">
			<hr>
			<input type="color" value="#aa8712">
			<input type="color" value="#e66465" list="datalist-color">
			<datalist id="datalist-color">
				{% for i in 1 .. 100 %}
					<option>#e66465</option>
				{% endfor %}
			</datalist>
			<input type="color" disabled>
			<hr>
			<input type="search">
		</fieldset>
	</form>
{% endblock %}
