.toggle {
	display     : flex;
	align-items : center;
	margin      : 0;
	cursor      : pointer;

	input {
		$m     : 8px;
		margin : $m $m*2 $m 0;
	}
}


@supports (--css: variables) {
	$size : 20px;
	[type=checkbox],
	[type=radio] {
		$color-disable  : rgb(80, 80, 80);
		display         : inline-flex;
		align-items     : center;
		justify-content : center;
		width           : $size;
		height          : $size;
		border-radius   : 0;
		background      : none;
		appearance      : none;
		--color         : blue;
		&:before {
			content    : '';
			display    : block;
			transition : width 200ms, height 200ms, border-color 200ms, transform 200ms, opacity 200ms;
		}
		&:checked {
			--color : blue;
		}

		&[disabled], fieldset[disabled] & {
			--color : #{$color-disable};
			+ span {color : $color-disable}
		}
	}


	[type=checkbox] {
		border : 0;

		&:before {
			width            : 100%;
			height           : 100%;
			transform-origin : 100% 50%;
			border           : 1px solid var(--color);
		}

		&:checked:before {
			width             : 50%;
			transform         : rotate(45deg);
			border-top-color  : transparent;
			border-left-color : transparent;
		}
	}


	[type=radio] {
		border        : 1px solid var(--color);
		border-radius : 50%;

		&:before {
			width            : 0;
			height           : 0;
			border-radius    : 50%;
			background-color : var(--color);
			opacity          : 0;
		}

		&:checked:before {
			width   : $size / 2;
			height  : $size / 2;
			opacity : 1;
		}
	}
}